.cabecalho {
    text-align: right;
    position: relative;
}

.toggle {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
}

.toggle button {
    font-family: 'Source Code', sans-serif;
    cursor: pointer;
    background: none;
    color: #FFF;
    padding: 10px 15px;
    font-weight: bold;
}

#btn_pt {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #3EA6FF;
}

#btn_eng {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 2px solid #3EA6FF;
    border-top: 2px solid #3EA6FF;
    border-bottom: 2px solid #3EA6FF;
    border-left: none;
}

.active {
    background-color: #3EA6FF !important;
}