@font-face {
    font-family: "Mark Pro";
    src: url(../ttf/Mark-Pro.ttf) format("truetype");
}

@font-face {
    font-family: "Source Code";
    src: url(../ttf/Source-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url(../ttf/Montserrat-Ace-Medium.ttf) format("truetype");
}


body {
    background-color: #121212;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    color: #d1d1d1;
    font-size: .9em;
    font-weight: 100;
    line-height: 1.3;
}

.boneco {
    position: absolute;
    right: 0px;
    bottom: 60px;
    transform: scale(2);
    overflow: hidden;
    max-width: 80px;
}

.copyright {
    margin-top: 9em;
    font-size: 0.9em;
    text-align: center;
}

img {
    max-width: 250px;
    border-radius: 15px;
    transition: 0.5s;
}

@media (max-width:500px)  { 
    /*Para celulares*/
    .boneco {
        right: 70px;
    }
}

