.secao_apresentacao {
    min-height: 100VH;
    position: relative;
}

.secao_apresentacao_texto {
    padding-top: 8px;
    text-align: left;
}

.texto_apoio {
    font-family: 'Source Code', sans-serif;
    line-height: 100%;
    letter-spacing: -.03em;
    line-height: 1.3;
    width: 60%;
}

.nome, .frase_efeito {
    font-size: 5em;
    color: #3EA6FF;
    font-family: 'Mark Pro', sans-serif;
    letter-spacing: -.03em;
    margin: 0;
}

.frase_efeito  {
    color: #8892b0;
    font-size: 3em;
}

@media (max-width:500px)  { 
    .secao_apresentacao_texto {
        margin-bottom: 30px;
        text-align: left;
    }
}



/*font-family: 'Mark Pro', sans-serif;*/